<!DOCTYPE html>
<html>
<head>
    <title>Online Examination System</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav>
    <div class="logo">
        Online Examination System
    </div>

    <div>
        <a href="{{ url_for('index') }}">Home</a>

        {% if session.get('student_id') %}
            <a href="{{ url_for('student_dashboard') }}">Dashboard</a>
            <a href="{{ url_for('logout') }}">Logout</a>

        {% elif session.get('admin') %}
            <a href="{{ url_for('admin_dashboard') }}">Admin Dashboard</a>
            <a href="{{ url_for('admin_logout') }}">Logout</a>

        {% else %}
            <a href="{{ url_for('login') }}">Student Login</a>
            <a href="{{ url_for('register') }}">Register</a>
            <a href="{{ url_for('admin_login') }}">Admin</a>
        {% endif %}
    </div>
</nav>

<div class="container">

    {% with messages = get_flashed_messages() %}

        {% if messages %}

            {% for message in messages %}

                <div class="message">
                    {{ message }}
                </div>

            {% endfor %}

        {% endif %}

    {% endwith %}

    {% block content %}
    {% endblock %}

</div>

</body>
</html>