{% extends "base.html" %}

{% block content %}

<div class="hero">

    <h1>Online Examination System</h1>

    <p>
        Conduct and attend examinations online easily.
    </p>

    <div class="buttons">

        <a class="button"
           href="{{ url_for('login') }}">
            Student Login
        </a>

        <a class="button"
           href="{{ url_for('register') }}">
            Student Registration
        </a>

        <a class="button"
           href="{{ url_for('admin_login') }}">
            Admin Login
        </a>

    </div>

</div>

{% endblock %}